body{
    overflow-x: hidden;
}

.nav-link{
    text-transform: uppercase;
    font-size: 14px;
    padding-left: 1em !important;
    padding-right: 1em !important;
}

.nav-item.active{
    border-left: #444 3px solid;
}

.carousel-item{
    height: 450px;
}

.carousel-image-1{
    background: url('../img/hd_f52efba66e39e2f1481605fef9651f41.jpg') no-repeat;
    background-size: cover;
}

.carousel-image-2{
    background: url('../img/hd_3c458c6c82a820efdf81c0ee9309776c.jpg') no-repeat;
    background-size: cover;
}

.carousel-image-3{
    background: url('../img/hd_c6297731816bafbe20332f5c9f4e1a6d.jpg') no-repeat;
    background-size: cover;
}

.fa{
    font-size: 55px;
}

#home-heading{
    position: relative;
    min-height: 200px;
    background: url('../img/flow.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
}

.dark-overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#info img{
    height: 300px;
    width: 250px;
    padding-top: 40px;
    /* float: right; */
}

#video-play{
    position: relative;
    min-height: 200px;
    background: url('../img/hd_3e4ae715f5e8b8de1117ee9ee2a831b8.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0 -300px;
    text-align: center;
    color: #fff;
}

#video-play a{
    color: #fff;
    position: relative;bottom: -25px;
}

#video-play h1{
    /* color: #fff; */
    position: relative;bottom: -25px;
} 

#gallery img{
    width: 300px;
    height: 200px;
}

#main-footer{
    background: #000;
    color: #fff;
}

#page-header{
    height: 200px;
    background: url(../img/flow.jpg);
    background-position: 0 -360px;
    background-attachment: fixed;
    color: #fff;
    border-bottom: 1px #eee solid;
    padding-top:  50px;
}

#about img{
    margin-top: -70px;
}